{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}

    <div class="content_columns_holder">
        <div class="content_column_inner">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_block_block_index') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}New{% endtrans %}</li>
            </ol>

            <div class="page-header">
                <h1>{% trans %}New{% endtrans %} <small>Block</small></h1>
            </div>

            {{ form(form, { 'style': 'horizontal' }) }}
        </div>
    </div>

{% endblock %}